.text-input {
  text-align: center;
  margin-bottom: 10px;
}

.text-output {
  color: white;
  margin-top: 20px;
  text-align: center;
}

.buttons {
  text-align: center;

  &__translate {
    margin: 5px;
  }

  &__clear {
    margin: 5px;
  }
}
