/* Defining the Body Color */
body {
  background: #0a1f44 !important;
  font-family: 'Courier New', Courier, monospace !important;
}

.header-text {
  margin: 20px;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 0 25px;
  margin-bottom: 35px;
}
